<h2>Please Login to Access your Recipes Catalog Account</h2>
<ul>
<% if @error %>
  <li class="danger"><%= @error %></li>
<% end %>
</ul>
<form action="/login" method="post">
  <label for="username">Enter Your Username:</label>
  <input type="text" name="username" placeholder="Username">
  <label for="password">Enter Your Password:</label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form>

