<h2>Please Sign Up for the Recipes Catalog</h2>

<% if @user && @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error|%>
    <li><%= error %></li>
  <% end %>
  </ul>

<% end %>

<form action="/signup" method="POST">
  <label for="name">Enter your Name:</label>
  <input type="text" name="name" placeholder="Name">
  <label for="email">Enter your Email:</label>
  <input type="text" name="email" placeholder="Email">
  <label for="username">Create a Username:</label>
  <input type="text" name="username" placeholder="Username"><br><br>
  <label for="password">Create a Password:</label>
  <input type="password" name="password" placeholder="password"><br><br>
  

  <input type="submit" value="Sign Up">

</form>

<a href='/login'>Log In</a>
<a href='/'>Home</a>