<h2>Please Sign Up for the Recipes Catalog</h2>

<% if @user && @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error|%>
    <li class="danger"><%= error %></li>
  <% end %>
  </ul>

<% end %>

<form action="/signup" method="POST">
  <label for="name">Enter your Name:</label>
  <input type="text" name="name" placeholder="Name" value="<%= @user ? @user.name : nil %>">
  <label for="email">Enter your Email:</label>
  <input type="text" name="email" placeholder="Email" value="<%= @user ? @user.email : nil %>">
  <label for="username">Create a Username:</label>
  <input type="text" name="username" placeholder="Username" value="<%= @user ? @user.username : nil %>"><br><br>
  <label for="password">Create a Password:</label>
  <input type="password" name="password" placeholder="password"><br><br>
  <label for="password">Confirm Password:</label>
  <input type="password" name="password_confirmation" placeholder="confirm password"><br><br>

  <input type="submit" value="Sign Up">

</form>
