<h2>Create New Recipe</h2>

<form action="/recipes" method="POST">
  <label for="name">Recipe Name:</label>
  <input type="text" name="name" placeholder="Red Salad" required><br>
  <br><br>
  <label for="serving_size">Serving Size:</label>
  <input type="text" name="serving_size" placeholder="2" required>
  <br><br>
  <label for="cook_time">Cook Time:</label>  
  <input type="text" name="cook_time" placeholder="30 minutes" required>
  <br><br>
  <label for="ingredients">Ingredients: <strong>Separate each ingredient by a comma ( , )</strong></label><br>
  <br>
  <textarea name="ingredients" cols="30" rows="10" placeholder="2 cups apple, 1 cup cherries, 1 large tomato, 2 T parsley" required></textarea>
  <br><br>
  <label for="instructions">Instructions: <strong>Separate each instruction by a period ( . )</strong></label>
  <br>
  <textarea name="instructions" cols="30" rows="10" placeholder="Cut all of the fruits with a kunai knife into small pieces, and chop the parsley very fine. Mix together in medium sized bowl." required></textarea>
  <br><br>

  <label for="category">Choose a Category:</label><br>
    <% Category.all.each do |category| %>
      <input type="checkbox" name="categories[]" id="<%= category.id %>" value="<%= category.id %>"><%= category.name %></input><br>
    <% end %>
    <br>
  <p>Or Create a Category:</p>
    <label for="new_category">Category Name:</label>
    <input type="text" name="category[name]">
  <br><br>

  <input type="submit" value="Create">

</form>
<br>
<a href='/recipes'>See all Recipes</a>