<h2>Welcome, <%= @user.username %>!</h2>

<a href="/users/<%= @user.id %>/edit">Edit Your Account</a>

<h4><a href='/categories'>See your Recipes by Category</a></h4>

<h4><a href="/recipes">See all Your Recipes</a></h4>