<h2>Your Categories</h2>

<ul>
<% @user.categories.uniq.sort {|a, b| a.name <=> b.name }.each do |category| %>
  <br><li><a href="/categories/<%= category.id %>"<li><%= category.name %></a></li><br>
  <ol>
    <% category.recipes.sort {|a, b| a.name <=> b.name }.each do |recipe| %>
      <% if recipe.user == current_user %>
        <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
      <% end %>
    <% end %> 
  </ol>
<% end%>
</ul>