<div class="navbar">
  <a href="/dashboard">Home</a>
  <a href='/recipes'>Your Recipes</a>
  <a href='/categories'>Your Categories</a>
  <a href='/recipes/new'>New Recipe</a>
  <a href='/logout'>Logout</a>

</div>